
.mapContainer {
    width: 80vw;
    height: 45vh;
    }

    .mapContainer1 {
        width: 350px;
        height: 500px;
        margin-top: 15px;
        margin-bottom: 15px;
        }
        .mapboxgl-popup {
            max-width: 200px;
            }
            #marker {
                background-image: url('https://res.cloudinary.com/charlytorres/image/upload/v1583257091/lastday/MOITiGuj.jpg.jpg');
                background-size: cover;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                cursor: pointer;
                }

.sidebarStyle {
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    }